<div class="row">
  <div class="col-xs-12">
    <%= form_for(@task) do |f| %>
      <div class="form-group">
        <%= f.text_area :description, placeholder: "no description", class: "form-control" %>
      </div>
    <% end %>
  </div>
 </div>
